body {
	background-color: purple;
	margin: 0;
	padding: 0;
}

#glow {
	color: #00ff00; 
	text-decoration: none; 
	transition: text-shadow 0.3s ease-in-out;
	text-shadow: 0 0 8px #00ff00, 0 0 12px #00ff00, 0 0 16px #00ff00; 
}

#glow:hover {
	text-shadow: none; /* Remove glow effect on hover */
}
a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 3rem;
	text-align: center;
	color: white;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
h4 {
	font-family: Arial, sans-serif;
	font-size: 1rem;
	text-align: center;
	color: white;
	margin-top: 1rem;
	margin-bottom: 1rem;
}


form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 400px;
	padding: 20px;
}

input[type="submit"] {
	background-color: red;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	border: none;
	color: white;
	transition-duration: 0.4s;
	cursor: pointer;
	margin-top: 10px;
}

input[type="submit"]:hover {
	background-color: salmon;
	color: black;
}

input[type="password"],
input[type="url"] {
	border-radius: 5px;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}



@media only screen and (max-width: 600px) {
	form {
		padding: 10px;
	}
	
	input[type="submit"] {
		margin-top: 5px;
	}
	
	h1 {
		font-size: 2rem;
	}
}

