body {
  background-color: #262626;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.message {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #39b54a;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #19b54a;
}

