<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uvdownloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name="google-site-verification" content="DAbXmaltCmiGQ50d744O2XqVOQ87Mhi2nWGTs5OXXR0" />
</head>

<body>
    <h1>Udvash Video Downloader</h1>
    <h4>created by: <a id=glow href="https://youtube.com/@HoundSec" download>HoundSec</a></h4>
    <form action="data" method="post">
        <input name="url" type="url" placeholder="Enter video link">
        <br>
        <input name="reg" type="password" placeholder="Enter Udvash account registration number">
        <br>
        <input name="password" type="password" placeholder="Enter Udvash account password">
        <input type="submit" value="Download" id="submit_button">
    </form>
    <h4>Email: <a href="mailto: the_doha@protonmail.com">the_doha@protonmail.com</a></h4>
</body>

</html>
